{template 'common/header'}
<style>
	.statistics em{
		color: red;
		font-size: 2rem;
		font-weight: bold;
	}
</style>
<div class="main">
	<ul class="nav nav-tabs">
		<li><a href="{php echo $this->createWebUrl('bp_order',array('rid'=>$rid,'pay_type'=>2,'delete'=>$delete));}">霸屏支付订单管理</a></li>
		<li><a href="{php echo $this->createWebUrl('bp_order',array('rid'=>$rid,'pay_type'=>3,'delete'=>$delete));}">打赏支付订单管理</a></li>
		<li><a href="{php echo $this->createWebUrl('bp_order',array('rid'=>$rid,'pay_type'=>4,'delete'=>$delete));}">红包支付订单管理</a></li>
		<li class="active"><a href="{php echo $this->createWebUrl('bp_order',array('rid'=>$rid,'pay_type'=>3,'delete'=>$delete,'commission'=>1));}">打赏分佣</a></li>

	</ul>
	<div class="panel panel-info">
		<div class="panel-heading">霸屏筛选</div>
		<div class="panel-body">
			<form action="./index.php" method="get" class="form-horizontal" role="form">
				<input type="hidden" name="c" value="site" />
				<input type="hidden" name="a" value="entry" />
				<input type="hidden" name="m" value="haoman_dpm" />
				<input type="hidden" name="do" value="bp_order" />
				<input type="hidden" name="rid" value="{$_GPC['rid']}" />
				<input type="hidden" name="commission" value="1" />
				<!--<div class="form-group">-->
				<!--<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键字</label>-->
				<!--<div class="col-xs-12 col-sm-8 col-lg-9">-->
				<!--<input class="form-control" name="keywords" id="" type="text" value="{$_GPC['keywords']}" placeholder="可查询SN码,手机号"> -->
				<!--</div>-->
				<!--</div>-->
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">被打赏人/节目</label>
					<div class="col-xs-12 col-sm-8 col-lg-9">
						<input class="form-control" name="name" id="" type="text" value="{$_GPC['name']}" placeholder="输入名称查询">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">订单时间</label>
					<div class="col-sm-7 col-lg-8 col-xs-12">
						{php echo tpl_form_field_daterange('time', array('start'=>date('Y-m-d H:i', $starttime),'end'=>date('Y-m-d  H:i', $endtime)),true);}
					</div>
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
				</div>
				<!--<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">支付状态</label>
					<div class="col-xs-12 col-sm-8 col-lg-9">
						<select name="status" class="form-control" style="float:left">
							<option value="" {if $_GPC['status']==''}selected{/if}>全部</option>
							<option value="1" {if $_GPC['status']=='1'}selected{/if}>未支付</option>
							<option value="2" {if $_GPC['status']=='2'}selected{/if}>已支付</option>
						</select>
					</div>
					<div class=" col-xs-12 col-sm-2 col-lg-2">
					</div>
				</div>-->
			</form>
		</div>
	</div>
	<button class="btn btn-success" onclick="location.href='{php echo $this->createWebUrl('bp_download_commission',array('rid'=>$_GPC['rid']))}'" type="button"><i class="fa fa-search"></i> 导出数据</button>
<div class="panel panel-default">
	<div class="panel-heading">

			<div class="alert statistics" style="margin-bottom:0;">
				<span>本次活动打赏总额(支付成功不包括管理员支付)：<em>{$total_money}</em>元。</span>
				<span>其中工作人员提成：<em>{$staff_money}</em>元。</span>
				{loop $statistics $row}
				<span>{$row['name']}提成：<em>{$row['money']}</em>元。</span>
				{/loop}
				<div class="help-block">（工作人员提成包含于商家提成）</div>
				{if $delete !=1}
				<button id="clearnobd" class="btn btn-danger" type="button" style="float: right;margin-top: 0px;margin-left: 15px;">一键清除全部订单</button>
				{/if}

			</div>
		<div class="panel-body table-responsive">
		<table class="table table-hover" >
			<thead class="navbar-inner">
				<tr>
					<th class='with-checkbox' style="width:30px;">
						<input type="checkbox" class="check_all" />
					</th>
					<th style="width:80px;">序号</th>
					<th style="width:120px;">工作人员/节目</th>
					<th style="width:220px;">订单号</th>
					<th style="width:100px;">金额</th>
					<th style="width:220px;">打赏人微信昵称</th>
					<th style="width:120px;">工作人员提成</th>
					<!--<th style="width:120px;">姓名</th>-->

					<!--<th style="width:100px;">霸屏时间(秒)</th>-->
					{loop $cis $row}
					<th style="width:120px;">{$row['role']}提成</th>
					{/loop}
					<!--
					<th>商家金额</th>
					<th>中间人金额</th>
					<th>平台金额</th>-->

					<!--<th style="width:80px;">状态</th>-->
					<!--<th style="width:80px;">支付方式</th>-->
					<th style="width:150px;">创建时间</th>
					<!--<th style="width:80px;">是否是管理员免支付</th>-->
					<!--<th style="width:80px;">订单状态</th>-->
					{if $delete !=1}
					<th style="width:120px;">操作</th>
					{/if}

				</tr>
			</thead>
			<tbody>
                    {loop $all $row}
				<tr>
					<td class="with-checkbox"><input type="checkbox" name="check" value="{$row['id']}"></td>
					<td>{$row['id']}</td>
					<td>{$row['guest_name']}</td>
					<td>{$row['transid']}</td>
					<td>{$row['money']}</td>
					<td style="white-space: normal;">{$row['nickname']}</td>
					<td>{php echo sprintf("%.2f",$row['money']*$cis_sj*$row['commission']/10000)}</td>
						{loop $cis $rrow}
						<td>{php echo sprintf("%.2f",$row['money']*$rrow['percentage']/100)}</td>
						{/loop}
					<!--<td>{php echo $row['real_money']}</td>
					<td>{php echo $row['bar_fee']}</td>-->


					<!--<td>{php echo $row['from_realname']}</td>-->

					<td>{php echo date('Y/m/d H:i',$row['createtime'])}</td>
					<!--<td>{if $row['pay_status']==1}<span style="color: #FF0000">异常</span>{else}正常{/if}</td>-->
					{if $delete !=1}
					<td>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="#" onclick="drop_confirm('您确定要删除吗?', '{php echo $this->createWebUrl('Deletepay_order',array('id'=>$row['id']))}');" title="删除"><i class="fa fa-times"></i></a>
                  	</td>
					{/if}
				</tr>
                {/loop}
					{if $delete !=1}
					<tr>
						<td colspan="2">
							<input type="button" class="btn btn-danger" name="deleteall_fans" value="一键删除" />
						</td>
					</tr>
		        	{/if}
			</tbody>
		</table>
	</div>
	</div>
    <div style="text-align:center;">{$pager}</div>
</div>
<script>
	require(['bootstrap'],function($){
		$('.btn').hover(function(){
			$(this).tooltip('show');
		},function(){
			$(this).tooltip('hide');
		});
	});
</script>
<script>
function drop_confirm(msg, url){
    if(confirm(msg)){
        window.location = url;
    }
}
$('#clearnobd').click(function(){
	var b = confirm("确定要删除所有订单！");
	if( b == true){
		$.post("{php echo $this->createWebUrl('Delall_bporders',array('rid'=>$rid))}", function(data) {
			if(data.success == 100) {
				alert(data.msg);
			} else {
				alert(data.msg);
				location.reload();
			}
		},"json");
	}
})
$(function(){

	$(".check_all").click(function(){
		var checked = $(this).get(0).checked;

		$("input[type=checkbox]").attr("checked",checked);
	});

	$("input[name=deleteall_fans]").click(function(){
		var check = $("input:checked");

		if(check.length<1){
			alert('请选择要删除的记录!');
			return false;
		}
		if( confirm("确认要删除选择的记录?")){
			var id = new Array();
			check.each(function(i){
				id[i] = $(this).val();
			});
			$.post("{php echo $this->createWebUrl('Del_bporders',array('rid'=>$rid))}", {idArr:id},function(data){
				if (data.flag ==1)
				{
					alert(data.msg);
					location.reload();
				} else {
					alert(data.msg);
				}
			},'json');
		}

	});
});
</script>

{template 'common/footer'}