{template 'common/header'}

<div class="main"> 


    <div class="panel panel-primary">
        <div class="panel-heading">
           <h5>帮助说明</h5>
        </div>
        <div class="panel-body">
            1、本模块支持同时举办多个活动，每个活动的数据互相不影响，一个规则就是一个活动。<br><br>
            2、请先建立好活动规则，配置好相应的选项，然后点击活动规则最上面的大屏幕链接，就可以进入大屏幕。<br><br>
            3、活动中涉及到的抽奖活动必须在左侧菜单中，添加相应的奖品才能进行抽奖。<br><br>
            4、如果奖品有涉及到红包的话，那必须先配置好左侧的红包基本设置中相关的接口。<br><br>
            5、粉丝手机端的入口有两种方式，一种是通过关注公众号，然后发送相应规则设置的关键词。另外一种是直接扫描签到二维码。<br><br>
            6、目前只有抢红包活动才支持直接发送红包，抽奖活动抽中红包采用提现申请方式。<br><br>
            7、现场抽奖的奖品不支持设置数量，因为这个中奖人数完全由主持人控制，不需要再设置数量，只有抢红包活动才支持设置数量。<br><br>
            9、大转盘抽奖的奖品必须设置数量和概率，点击中间选择中奖人物，在按下键盘空格键，开始转动<br><br>
            10、现场抽奖和大转盘抽奖，均支持内定，内定的openid是必须要填的<br><br>
            11、大屏幕快捷分别为：全屏,快捷键Q、开幕墙,快捷键W、显示二维码,快捷键E、消息墙,快捷键R、3D签到墙,快捷键T、抽奖,快捷键Y、抢红包,快捷键S,打开视频,,快捷键A、投票,快捷键D、嘉宾墙,快捷键G、闭幕墙,快捷键Z、弹幕,快捷键B。<br><br>
            12、许愿树,快捷键C、霸屏,快捷键P、摇一摇,快捷键F、对对碰,快捷键H、大转盘,快捷键I、幸运号,快捷键K、幸运手机号,快捷键J、抽奖箱,快捷键L<br><br>
            13、大屏幕基础模块下载地址<a href="http://s.we7.cc/module-3674.html">点这里，点这里</a><br><br>

        </div>
    </div>
        
</div>
 
{template 'common/footer'}